NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
EMAIL_FROM=Agenda SM <agenda@smsoluciones.com>

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://agenda-sm-soluciones.vercel.app/api/google/callback
GOOGLE_OAUTH_STATE_SECRET=

NEXT_PUBLIC_APP_URL=http://localhost:3000
